// UPPER FOOTER
.upper-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100% - 100px);
    position: relative;

    .col {
        flex-direction: column;
        padding: 30px 0px;
        margin-right: 30px;
        max-width: 300px;

        h4 {
            text-transform: uppercase;
        }
    }

    .small-container {
        position: absolute;
        bottom: 20px;
        color: #5F6A6C;
        font-size: 0.8rem;

        a {
            color: #0A80F9;
        }
    }
}


.bg-footer {
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;

    img {
        overflow: hidden;
        position: absolute;
        right: 0;
        top: -80px;

    }
}

.list-links a {
    color: #5F6A6C;

    &:hover {
        filter: brightness(100);
    }
}

.col h4 {
    color: white;
    margin-bottom: 10px;
}


// DC-FOOTER
.dc-info {
    height: 100px;
    background-color: #0182F9;
    display: flex;
    position: sticky;

    .info-links {
        display: flex;
        padding: 50px 0px;
        gap: 50px;
    }
}

.links-card {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        color: white;
    }

    img {
        width: 50px;
        height: auto;
    }
}

// BOTTOM FOOTER

.bottom-footer {
    height: 100px;
    background-color: #303030;
    display: flex;
    align-items: center;
    position: sticky;

    a {
        font-weight: bold;
    }
}

.bottom-footer-info {
    display: flex;
    justify-content: space-between;

    .sign-button {
        border: 2px solid #0A80F9;
        color: white;
        text-align: center;
        padding: 15px;
    }

    .icon-list {
        margin-left: 20px;
        display: flex;
        align-items: center;
        list-style: none;
        gap: 10px;
    }

    .c-blue {
        color: #0A80F9;
    }
}